.music-player {
  box-shadow: 1rem 1rem 1rem 0rem rgba(0, 0, 0, 0.288);
  border: 2px solid black;
}
img {
  object-fit: cover;
}
.music-player > * {
  padding-inline: 5px;
}
.player {
  background: whitesmoke;
  position: sticky;
  padding: 0.3rem 0.45rem;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
}

.showing .player-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 10px;
}

.showing .about-song {
  width: 100%;
}

.showing .song-container {
  height: 200px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.showing .song-container img {
  object-fit: cover;
  height: 80%;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
}

.showing .song-detail {
  margin-top: 10px;
}
.song-detail h3 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
}

.showing .song-name {
  font-size: 1.875rem; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.showing .text-base {
  font-size: 1rem;
  color: #4b5563;
  text-align: center;
}

.showing .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
  margin-top: 10px;
}
.showing .controls i{
  padding: 5px;
  background-size: 1/1;
  border-radius: 50%;
}
.showing .controls i:hover{
  background-color: rgba(180, 180, 180, 0.527);
  
}
.showing .duration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 95%;
}

.showing #current,
.showing #song-total {
  font-size: 1.125rem; /* equivalent to text-lg */
}

.showing .playback-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.showing .fa-solid {
  cursor: pointer;
  font-size: 2rem; /* Adjust according to your requirement */
}

.showing .fa-backward-fast {
  font-size: 2.5rem; /* Adjust according to your requirement */
}
.showing .fa-forward-fast {
  font-size: 2.5rem; /* Adjust according to your requirement */
}
.showing .fa-circle-play {
  font-size: 4rem; /* Adjust according to your requirement */
}

.showing .fa-circle-pause {
  font-size: 4rem; /* Adjust according to your requirement */
}

.showing .hidden {
  display: none;
}

/*  for minimized */
.minimized.player {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  background: whitesmoke;
  position: sticky;
  padding: 5px 10px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem 1rem 0 0;
}
.minimized .about-song .song-detail h3{
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.minimized .about-song .song-detail p{
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.minimized .player-header {
  display: none;
}
.minimized .song-container {
  width: 3rem;
  height: 3rem;
}
.minimized .about-song h3,
.minimized .about-song p {
  text-align: start;
}
.minimized .song-detail,
.minimized .about-song {
  display: flex;
  align-items: center;
  justify-content: center;
}
.minimized .song-detail {
  cursor: pointer;
}
.minimized .song-detail h3 {
  font-size: 1.43rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.minimized .song-detail {
  flex-direction: column;
  margin-top: unset;
}
.minimized .song-container {
  margin: 0 0.5rem;
}
.minimized .duration {
  display: none;
}
.minimized .playback-controls {
  width: auto;
  gap: 1rem;
  padding-bottom: 0;
  align-items: center;
}
.minimized .fa-circle-play,
.minimized .fa-circle-pause {
  font-size: 3rem; /* Adjust according to your requirement */
}
.minimized .fa-forward-fast,
.minimized .fa-backward-fast {
  font-size: 1.8rem;
}
.minimized .controls {
  margin-top: unset;
  gap: unset;
  padding-right: 10px;
}
.controls .material-icons {
  font-size: 35px;
}
.minimized .material-icons {
  font-size: 25px;
}